<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../../Asset/Icon/icon.png">
    <title>Portfolio - projets</title>
    <link rel="stylesheet" href="../../style.css">
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
</head>

<header class="header-content">
    <div class="container header-container">
        <button class="menu-btn" onclick="toggleMenu()">☰</button>
        <h1 class="name"><img src="../../Asset/Icon/code_logo.svg" alt="Logo"> TROUBA Mael</h1>
        <h3 class="title">Game engine programmer </h3>
        <button class="contact" onclick="openContactModal()">Contact me</button>
    </div>
</header>

<div class="modal_overlay" hidden>
    <div class="modal_contact">
      <button class="close-btn" onclick="closeContactModal()">X</button>
      
      <label class="label" for="subject-contact">Subject</label>
      <input id="subject-contact" class="subject-contact" placeholder="Subject" oninput="checkFormCompletion()">

      <label class="label" for="content-contact">Email</label>
      <input id="email-contact" class="email-contact" placeholder="Email" oninput="checkFormCompletion()">
      
      <label class="label" for="content-contact">Content</label>
      <input id="content-contact" class="content-contact" placeholder="Content" oninput="checkFormCompletion()">
      
      <button id="submit-btn" class="submit-btn" onclick="closeContactModalSubmit()" disabled>Submit</button>
    </div>
  </div>
  
  <div id="toast" class="toast hidden"></div>

<div id="star-container">
    <div id="stars"></div>
    <div id="stars2"></div>
    <div id="stars3"></div>
</div>

<aside id="sidebar">
    <nav>
        <ul>
            <li><a href="../../index.html">Accueil</a></li>
            <li><a href="../templates/CV.html">CV</a></li>
            <li><a href="../templates/projet.html">Projets</a></li>
        </ul>
    </nav>
    <div class="social">
        <a href="https://github.com/MaelEtuu"><img class="img-social" src="../../Asset/Icon/github-icon.svg"></a>
        <a href="mailto:mael.trouba@etu.univ-smb.fr">
            <img class="img-social" src="../../Asset/Icon/gmail-icon.svg" alt="Gmail Icon">
        </a>
        <a href="https://www.linkedin.com/in/ma%C3%ABl-trouba-66b2a633a"><img class="img-social" src="../../Asset/Icon/linkedin-icon.svg"></a>
        <a href="https://www.instagram.com/mael.trb73?igsh=MTI5ZHR0ZjUyYzR6bA%3D%3D&utm_source=qr"><img class="img-social" src="../../Asset/Icon/insta-icon.svg"></a>
    </div>    
</aside>

<section id="projects">
    <div class="container projects-container">
        <div class="project-circle projet-1" data-title="Miliboo redesign">Miliboo redesign</div>
        <div class="project-circle projet-2" data-title="Raytracing">Raytracing</div>
        <div class="project-circle projet-3" data-title="Hunter Game">Hunter Game</div>
        <div class="project-circle projet-4" data-title="Java Bot">Java Bot</div>
        <div class="project-circle projet-5" data-title="Survival">Survival</div>
    </div>
</section>

<div id="project-modal" class="modal hidden">
    <div class="modal-content">
        <button class="close-btn" onclick="closeProjectModal()">X</button>
        <h2 id="project-title">Nom du Projet</h2>
        <div class="modal-body">
            <div class="sidebare">
                <ul>
                    <li><strong>Date :</strong> <span id="project-date"></span></li>
                    <li><strong>Contexte :</strong> <span id="project-context"></span></li>
                    <li><strong>Équipes :</strong> <span id="project-team"></span></li>
                    <li><strong>Technologies :</strong> <span id="project-tech"></span></li>
                </ul>
            </div>
            <div class="content">
                <img id="project-image" src="" alt="Image du projet" />
                <p id="project-description"></p>
                <a id="project-github" href="#" target="_blank" class="hidden github-link">View on GitHub</a>
            </div>
        </div>
    </div>
</div>

<script src="../../script.js"></script>
</body>
</html>